body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    position: relative;
    overflow-x: hidden;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #161616;
}

header{
    background: rgba(51, 51, 51, 0.9);
    color: #fff;
    padding: 10px 10px;
    position: relative;
    text-align: center;
}

.name{
    position: absolute;
    top: 40px;
    left: 470px;
    font-size: 32px;
    
}
.name:hover{

    color: green;
    transition: ease-in;
    font-size: xx-larger;
    
}

.logo{
    position: fixed;
    left: 1100px;
    height: 100px;
    width: 200px;
}
.image{
    height: 150px;
    position: absolute;
    left: 100px;
}

nav ul {
    list-style: none;
    padding: 50px;
    position: relative;
    top: 40px;

}

nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li :hover{
    color: darkred;
    display:inline-block;
    transition: ease-in;
    font-size:larger;
    
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section{
    padding: 20px;
    margin: 20px 0;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.78;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    
}
h2 {
    border-bottom: 3px solid #333;
    padding-bottom: 10px;
}
h2:hover{
    color: darkred;
    transition: ease-in;
    font-size: xx-large;
    
}

#projects ul {
    list-style: none;
    padding: 0;
}

#projects ul li {
    margin: 10px 0;
}

#projects ul li h3 {
    margin: 0;
}

#downloadResume {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: #333;
    border: none;
    color: #fff;
    border-radius: 5px;
}

#downloadResume:hover {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background:#08df28;
    color: #1a1919;
    border-radius: 25px;
}



